.game-show {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.game-show-logo {
    height: 570px;
    background-size: 100% 100%;
    overflow: hidden;

}

.game-title {
    color: white;
    font-size:40px;
    top: -570px;
    z-index: 2;
    position: relative;
    text-align: end;
    padding-right: 5%;
    padding-top: 2%;
    font-family: sans-serif;
}

.game-show-text {
    color: white;
    height: 80%;
    white-space: pre-line;
    background-color: black;
}

.game-show-media {
    color: white;
    /* height: 800px; */
    background-size: 100% 100%;
    background-color: white;
}


.game-media-item {
    display: grid;
    grid-template-columns: repeat(3, minmax(324px, 1fr));
    grid-gap: 30px;
    padding: 30px;
}
