.game-index {
    background-image: url('/index_background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.game-flex {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    /* margin: 0; */
    height: auto;
    width: 100%;
}



.game-flex-1 {
    background-color: black;
    opacity: 0.25;
    /* width: 10%; */
}

.game-content {
    background-color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(324px, 1fr));
    grid-gap: 30px;
}

.game-img {
    border: 2px grey solid;
}

.game-item {
    text-align: center;
}



