.comment-box {
    padding-top: 9vh;
    width: 71vw;
    height: 25vh;
}

.comment-form {
    width: inherit;
    height: inherit;
}

.comment-h2 {
    height: 10%;
    color: black;
    font-weight: bold;
    font-size: large;
}

.inside-comment-form {
    width: inherit;
    height: inherit;
}

.comment-input {
    width: inherit;
    height: 10vh;
    border: 1px solid black;
    font-size: 1.3em;
}

.comment-submit {
    background-color: black;
    color: white;
    float: right;
    border: none;
    width: 9.2vw;
    height: 5.8vh;
    font-size: 1.1em;
}

.hidden {
    display: none;
}