

/* <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet"> */



.greeting-nav-link {
    float: left;
    background-color: whitesmoke;
    margin: 0;
    width: 650px;
    text-align: end;
    /* padding-left: 60px; */
}

.greeting-with-user {
    display: flex;
}

#greeting-user {
    font-size: 32px;
    font-family: 'Lobster', cursive;
    height: 25px;
    margin: 10px;
    padding: -30px;
    color: whitesmoke;
}

#greeting-user-logout {
    float: right;
    padding-top: -10px;
    padding: 14px 40px;
}

.greeting-no-user {
    display: flexbox;
    margin: 0;
}

.logging-btn {
    
    /* float: right; */
    font-size: 12px;
    padding: 14px 40px;
    margin-top: 20px;
    background-color: whitesmoke;
    border-radius: 2px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
