
.nav-greeting {
    width: 15vw;
}

.greeting-with-user {
    display: flex;
    flex-direction: column;
    padding-left: 40%;
}

#greeting-user {
    font-size: 32px;
    font-family: sans-serif;
    height: 25px;
    margin: 10px;
    /* padding: -30px; */
    color: white;
    display: flex;
    flex-direction: row;
}



.greeting-no-user {
    display: flex;
    flex-direction: row;
    margin: 0;
    float: end;
}

.logging-btn {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.3vmax;
    color: black;
    border: none;
    padding-top: 6%;
}
