.app {
    display: grid;
    grid-auto-columns: auto;
}

.navbar-header {
    font-family: sans-serif;
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: .5s;
    background-color: rgb(246, 245, 245);
}

.title {
    float: left;
    transition: .5s;
    height: 80px;
    padding: 3px 20px;
    font-size: 42px;
}

.navbar-header ul {
    display: flex;
    padding-left: 2%;
}

.nav-links li {
    list-style-type: 80px;
    color: black;
    padding: 1% 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: 21px;
    font-weight: bold;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: black;
}

.nav-links li:hover {
    background-color: red;
}