.app {
    display: flex;
    flex-direction: column;
}

.navbar-header {
  background-color: rgb(246, 245, 245);
  position: sticky;
  top: 0;
  height: 8vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 10;
}

.nav-title {
    font-size: 2.6vmax;
    /* font-weight: bold; */
    padding-left: 1%;
    width: 25vw;
    font-family: 'Josefin Sans', sans-serif;
}

.nav-links {
    width: 60vw;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}



.link {
    
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: 1.5vmax;
    font-weight: bold;
    font-family: 'Josefin Sans', sans-serif;
}

.link:hover {
    border-radius: 50px;
    background-color: red;
    background-size: 300% 200%;
    background: linear-gradient(to right, red 50%);
    background-size: 300% 200%;
    background-position: right bottom;
    transition: all 2s ease;
}




/* .red {
    color: red;
} */

/* .navbar-header {
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
    position: sticky;
    margin: 0;
    width: 100%;
    top: 0;
    left: 0;
    height: 70px;
    padding: 10px 15px;
    box-sizing: border-box;
    transition: .5s;
    background-color: rgb(246, 245, 245);
}


.title {
    float: left;
    transition: .5s;
    height: 80px;
    padding: 3px 20px;
    font-size: 42px;
}

.navbar-header ul {
    display: flex;
    padding-left: 2%;
}

.nav-links li {
    list-style-type: 80px;
    color: black;
    padding: 1% 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: 21px;
    font-weight: bold;
}

.link {
    text-decoration: none;
}

.link:visited {
    color: black;
}

.nav-links li:hover {
    background-color: red;
} */