.app {
    display: grid;
    grid-auto-columns: auto;
}

.navbar-header {
    font-family: sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    background-color: gainsboro;
}

.title {
    float: left;
    transition: .5s;
    height: 80px;
    padding: 5px 20px;
    font-size: 37px;
}

.navbar-header ul {
    /* float: right; */
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style-type: 80px;
    color: #262626;
    padding: 5% 20px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: 17px;
}

.nav-links li:hover {
    background-color: red;
}