.news-whole {
    background-color: white;
}

.news-index-content {
    background-color: white;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(4, minmax(324px, 1fr));
    grid-gap: 5%;
}

.news-image {
    width: 20vw;
    height: 19vh;
}

.news-title {
    color: black;
    font-weight: bold;
}

@media all and (max-width: 1023px) and (min-width: 768px) {
    
    .news
}

@media (max-width: 768px) {

    .news-index-content {
        grid-template-columns: repeat(1, minmax(150px, 1fr));
        grid-gap: 40px;
        padding: 10px;
    }

    .news-image {
        width: 95vw;
        height: 40vh;
    }
}