.news-index {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    /* margin: 0; */
    height: auto;
    width: 100%;

}

.news-index-content {
    background-color: white;
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(3, minmax(324px, 1fr));
    grid-gap: 30px;
}