.news-whole {
    background-color: white;
}

.news-index-content {
    background-color: white;
    padding: 3%;
    display: grid;
    grid-template-columns: repeat(4, minmax(324px, 1fr));
    grid-gap: 5%;
}

.news-image {
    width: 20vw;
    height: 19vh;
}

.news-title {
    color: black;
    font-weight: bold;
}