/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 
 .grid {
     display: grid;
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
     grid-template-columns: 1fr 1fr;
     /* border: 5px solid black; */
 }


 .body {
     grid-row-start: 2;
     grid-row-end: 2;
     border: green solid 1px;
 }


  .games-ads {
     grid-row-start: 2;
     grid-row-end: 2;
     background-color: red;
     font-size: 25px;
 }

 .games {
    grid-row-start: 3;
    grid-row-end: 3;
    background-color: orange;
    font-size: 25px;
 }

 .news{
    grid-row-start: 4;
    grid-row-end: 4;
    background-color: yellow;
    font-size: 25px;
 }

 .social-connect {
    grid-row-start: 5;
    grid-row-end: 5;
    background-color: green;
    font-size: 25px;
 }

 .about-us {
    grid-row-start: 6;
    grid-row-end: 6;
    background-color: blue;
    font-size: 25px;
 }