.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    margin: auto;
    height: 20vh;
    width: 100vw;
    background-color: black;
}




div a {
    text-decoration: none;
    color: inherit;
}