.footer {
   /* position: absolute;
   bottom: 0;
   width: 100%; */
   display: flex;
   flex-direction: column; 
   background-color: black;
   color: white;
   font-family: 'Amatic SC', cursive;
   font-size: 25px;
   text-align: center;
}

.footer-first-row {
    /* text-align: center; */
    padding-top: 30px;
}

.footer-second-row {
    padding-top: 20px;
    /* text-align: center; */
}


.dot {
    padding-bottom: 1px;
    height: 6px;
    width: 6px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
}

.footer-last-row {
    display: flexbox;
}

#footer-p {
    float: left;
    padding-top: 30px;
    /* text-align: center; */
    padding-left: 650px;
}

.footer-erb {
    float: right;
}
div a {
    text-decoration: none;
    color: inherit;
}