.footer {
    margin: auto;
    height: 15vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 2vh;
    
}

div a {
    text-decoration: none;
    color: inherit;
}

.footer h2 {
    font-size: 1.5em;
}

.footer-tech{
    display: flex;
    flex-direction: row;
    padding: 1.5%;
    font-size: 1em;
    padding-left: 32vw;
}

.dot {
    height: 0.5vh;
    width: 0.5vw;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    padding-bottom: 1vh;
}

.footer-last {
    text-align: center;
}


