.social-connect {

   display: flex;
   flex-direction: column;
   font-weight: bold;
   background-color: rgb(100, 98, 98);
   bottom: 100;
}


.social-first {
    padding-top: 48px;
    font-size: 23px;
    color: whitesmoke;
    padding-left: 30px;
}

.social-second {
    padding: 30px;
    display: flex;
    flex-direction: row;
    font-size: 30px;

}

.rectangle {
    height: 50px;
    width: 100px;
    background-image: url('/connect.jpeg')
}

.social-rec {
    height: 50px;
    width: auto;
    background-image: url('/connect.jpeg')
}

.social-opa {
    background-color: white;
    opacity: 0.5;
    width: inherit;
    height: inherit;
}

.social-rec-text {
    font-size: 15px;
    width: inherit;
    height: inherit;
    padding: 20px;
}

.social-icon {
    padding-top: 7px;
    padding-left: 30px;
    padding-bottom: 20px;
}