.social-connect {
   font-weight: bold;
   background-color: rgb(100, 98, 98);
   bottom: 100;
}

.social-second {
    padding: 2em;
    display: flex;
    flex-direction: row;
}

.rectangle {
    height: 6vh;
    width: 7vw;
    background-image: url('/connect.jpeg')
}

.social-opa {
    background-color: white;
    opacity: 0.6;
    width: inherit;
    height: inherit;
}

.social-icon {
    padding-top: 9%;
    padding-left: 30%;
    padding-bottom: 10%;

    width: inherit;
    height: inherit;
}

.social-svg {
    width: 3vw;
    height: 4vh;
}


