.svg {

    width: 1.7vw;
    height: 2.5vh;
}

.svg path {
    fill: red;
    stroke: white;
    stroke-width: .2em;
}

.dropbtn {
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
}

.dropdown {
    z-index: 999;
}


#dropdown-content {
  position: absolute;
  background-color: white;
  width: 30vw;
  height: auto;
  margin-top: 2.3vh;
  top: 100%;
  border: .09em solid rgb(160, 158, 158);
}

.no-show {
    display: none;
}


