<!DOCTYPE html>
<html>
  <head>
    <title>FinalEnix</title>


    <link href="https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c3d660c8b3.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application' %>
       


  </head>

  <body>
    <%= yield %>
  </body>
</html>
